.img {
    width: 450px;
    border: 1px solid #8f0303;
    box-shadow: 3px 3px 5px #0000008c;
}

@media (max-width: 550px) {
    .img {
        width: 90%;
    }
    .section {
        text-align: center;
    }
}